:root {
  --yellow: #F5C32C;
  --red: #fc5e1f;
  --black: #242D49;
  --gray: #788097;
  --blueCard: #DDF8FE;
  --purple: rgb(238 210 255);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App {
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
}

.button {
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 1rem;
  padding: 10px 27px 10px 27px;
  background: linear-gradient(180deg, rgba(119, 177, 11, 0.836), rgba(69, 168, 102, 0.829));
  box-shadow: 0px 20px 25px 6px rgba(9, 155, 41, 0.301);
  transition: 0.5s ease;

}

.button:hover {
  background: linear-gradient(180deg, rgba(9, 153, 9, 0.664), rgba(25, 128, 196, 0.062));
  color: #0c0c0b;
  cursor: pointer;
  box-shadow: 0px 15px 18px 6px rgba(9, 145, 155, 0.274);
}